.banner{
    overflow: hidden;
    /* display: flex; */
    justify-content: center;
    align-items: center;

}
.banner video{
    position: absolute;
    top: 0;
    /* object-fit: cover; */
    pointer-events: none ;
}

.banner .content{
    /* position: relative; */
    z-index: 1;

}
.content h1{
    color: blue;
}